<header class="sticky-top">
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary"
  >
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content"
        [ngClass]="{ show: isExpanded }"
      >  <ul class="navbar-nav">
        <!--<div class="btn-group">-->
        <li class="nav-item">
          <a class="nav-link " (click)="toggleShowLoanOfficerTrue()">
            Loan Officer
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" (click)="toggleShowCustomerTrue()">
            Customer
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" (click)="toggleShowAmortOneTrue()">
            Amortization Schedule One
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" (click)="toggleShowAmortTwoTrue()">
            Amortization Schedule Two
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" (click)="toggleShowAmortThreeTrue()">
            Amortization Schedule Three
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" (click)="toggleShowChartIntTrue()">
            Interest Compare Chart
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" (click)="toggleShowChartPayTrue()">
            Payments Compare Chart
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" (click)="toggleShowCalcTrue()"
            >Rate Conversion Calc</a
          >
        </li>
       <!-- </div> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
