<header class="sticky-top">
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary"
  >
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content"
        [ngClass]="{ show: isExpanded }"
      >
        <div class="btn-group">
          <a class="btn btn-primary text-sm" (click)="toggleShowLoanOfficerTrue()">
            Loan Officer
          </a>

          <a class="btn btn-primary" (click)="toggleShowCustomerTrue()">
            Customer
          </a>

          <a class="btn btn-primary" (click)="toggleShowAmortOneTrue()">
            Amortization Schedule One
          </a>

          <a class="btn btn-primary" (click)="toggleShowAmortTwoTrue()">
            Amortization Schedule Two
          </a>

          <a class="btn btn-primary" (click)="toggleShowAmortThreeTrue()">
            Amortization Schedule Three
          </a>

          <a class="btn btn-primary" (click)="toggleShowChartIntTrue()">
            Interest Compare Chart
          </a>

          <a class="btn btn-primary" (click)="toggleShowChartPayTrue()">
            Payments Compare Chart
          </a>

          <a class="btn btn-primary" (click)="toggleShowCalcTrue()"
            >Rate Conversion Calc</a
          >
        </div>
      </div>
    </div>
  </nav>
</header>
