<div class="container-sm">
  <!--<img src="https://raw.githubusercontent.com/mnjrupp/angular-ivy-ylwyj7/master/src/assets/AmortSched1.PNG" alt=" Amort Schedule">-->
  <hr style="height:2.5px;background-color:blue;" />
  <h5 class="d-flex justify-content-left">Amortization Schedule One</h5>
  <div class="row align-items-start">
    <div class="col">
      <div class="mb-1 p-1 border-bottom border-top bg-light">
        <small class="text-muted">Amoritization Type:</small>
      </div>
    </div>
    <div class="col">
      <div class="mb-1 p-1 border" style="height:35px">
        <small class="text-muted">{{ pricing.AmorType1 }}</small>
      </div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-1 p-1 border-bottom border-top bg-light">
        <small class="text-muted">Borrower Name:</small>
      </div>
    </div>
    <div class="col">
      <div class="mb-1 p-1 border" style="height:35px">
        <small class="text-muted">{{ pricing.applicationName }}</small>
      </div>
    </div>
    <div class="col">
      <div class="mb-1 p-1 border-bottom border-top bg-light">
        <small class="text-muted">Loan Officer:</small>
      </div>
    </div>
    <div class="col">
      <div class="mb-1 p-1 border" style="height:35px">
        <small class="text-muted">{{ pricing.loanOfficer }}</small>
      </div>
    </div>
  </div>
  <div class="row align-items-start">
  <div class="col">
    <div class="mb-1 p-1 border-bottom border-top bg-light">
      <small class="text-muted">Phone Number:</small>
    </div>
  </div>
  <div class="col">
    <div class="mb-1 p-1 border" style="height:35px">
      <small class="text-muted">{{ pricing.phoneNumber }}</small>
    </div>
  </div>
  <div class="col">
    <div class="mb-1 p-1 border-bottom border-top bg-light">
      <small class="text-muted">Phone Number:</small>
    </div>
  </div>
  <div class="col">
    <div class="mb-1 p-1 border" style="height:35px">
      <small class="text-muted">{{ pricing.branchPhone }}</small>
    </div>
  </div>
</div>
<div class="row align-items-start">
<div class="col">
  <div class="mb-1 p-1 border-bottom border-top bg-light">
    <small class="text-muted">Customer Address:</small>
  </div>
</div>
<div class="col">
  <div class="mb-1 p-1 border" style="height:35px">
    <small class="text-muted">{{ pricing.address }}</small>
  </div>
</div>
<div class="col">
  <div class="mb-1 p-1 border-bottom border-top bg-light">
    <small class="text-muted">Credit Office Location:</small>
  </div>
</div>
<div class="col">
  <div class="mb-1 p-1 border" style="height:35px">
    <small class="text-muted">{{ pricing.branchaddress }}</small>
  </div>
</div>
</div>
<div class="row justify-content-md-center border">
  <div class="col-4 border p-1">
   <div class="border p-1 bg-secondary bg-gradient text-white">
    <h6 class="text-center ">Loan Details</h6>
  </div>
   <div class="row justify-content-md-left border">
   <div class="col-sm-6">
   <div class=" justify-content-right">
   <small class="text-muted">Loan Amount:</small>
 </div>
  </div>
  <div class="col-sm-6">
  <div class="mb-1 p-1 border bd-grey-400" style="height:35px">
  <small class="text-muted">{{ pricing.loanAmnt}}</small>
 </div>
 </div>
 
  </div>
  </div>
  <div class="col-1"></div>
  <div class="col-4 border p-1 bg-secondary bg-gradient text-white">
  <h6 class="text-center ">Loan Summary</h6>
  </div>
  
</div>


<div>

</div>
