<div class="container">
  <!--<img src="https://raw.githubusercontent.com/mnjrupp/angular-ivy-ylwyj7/master/src/assets/PayCompareChart.PNG" alt=" Amort Schedule">-->
  <div class="row align-items-start">
    <div class="col-sm-2">
      <div class="mb-1 p-1 bg-white">
        <h6 class="text-center">Loan Details</h6>
      </div>
      <div class="mb-1 p-1 bg-light text-truncate">
        <small class="text-muted">Loan Amount</small>
      </div>
      <div class="mb-1 p-1 bg-light text-truncate">
        <small class="text-muted">Interest Rate</small>
      </div>
      <div class="mb-1 p-1 bg-light text-truncate">
        <small class="text-muted">Interest Rate</small>
      </div>
      <div class="mb-1 p-1 bg-light text-truncate">
        <small class="text-muted">Interest Rate</small>
      </div>
      <div class="mb-1 p-1 bg-light text-truncate">
        <small class="text-muted">Terms in Years 1</small>
      </div>
      <div class="mb-1 p-1 bg-light text-truncate">
        <small class="text-muted">Terms in Years 2</small>
      </div>
      <div class="mb-1 p-1 bg-light text-truncate">
        <small class="text-muted">Terms in Years 3</small>
      </div>
      <div class="mb-1 p-1 bg-light">
        <small class="text-muted">Payment Frequency</small>
      </div>
      <div class="mb-1 p-1 bg-light text-truncate">
        <small class="text-muted">Estimated Start Date</small>
      </div>
      <div class="mb-1 p-1 bg-light text-truncate">
        <small class="text-muted">Date of Calculation</small>
      </div>
      <div class="mb-1 p-1 bg-white">
        <h6 class="text-center">Borrower Details</h6>
      </div>
      <div class="mb-1 p-1 bg-light">
        <small class="text-muted">Name</small>
      </div>
      <div class="mb-1 p-1 bg-light">
        <small class="text-muted">Phone</small>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="mb-1 p-1 bg-white">
        <small class="text-muted">&nbsp;</small>
      </div>
      <div class="mb-1 p-1 bg-secondary text-end" style="--bs-bg-opacity: .5;">
        <small class="text-muted">&nbsp;</small>
      </div>
      <div class="mb-1 p-1 bg-secondary text-end" style="--bs-bg-opacity: .5;">
        <small class="text-muted">&nbsp;</small>
      </div>
      <div class="mb-1 p-1 bg-secondary text-end" style="--bs-bg-opacity: .5;">
        <small class="text-muted">&nbsp;</small>
      </div>
      <div class="mb-1 p-1 bg-secondary text-end" style="--bs-bg-opacity: .5;">
        <small class="text-muted">&nbsp;</small>
      </div>
      <div class="mb-1 p-1 bg-secondary text-end" style="--bs-bg-opacity: .5;">
        <small class="text-muted">&nbsp;</small>
      </div>
      <div class="mb-1 p-1 bg-secondary text-end" style="--bs-bg-opacity: .5;">
        <small class="text-muted">&nbsp;</small>
      </div>
      <div class="mb-1 p-1 bg-secondary text-end" style="--bs-bg-opacity: .5;">
        <small class="text-muted">&nbsp;</small>
      </div>
      <div class="mb-1 p-1 bg-secondary text-end" style="--bs-bg-opacity: .5;">
        <small class="text-muted">&nbsp;</small>
      </div>
      <div class="mb-1 p-1 bg-secondary text-end" style="--bs-bg-opacity: .5;">
        <small class="text-muted">&nbsp;</small>
      </div>
      <div class="mb-1 p-1 bg-secondary text-end" style="--bs-bg-opacity: .5;">
        <small class="text-muted">&nbsp;</small>
      </div>

      <div class="mb-1 p-1 bg-white">
        <small class="text-muted">&nbsp;</small>
      </div>
      <div class="mb-1 p-1 bg-secondary text-end" style="--bs-bg-opacity: .5;">
        <small class="text-muted">&nbsp;</small>
      </div>
      <div class="mb-1 p-1 bg-secondary text-end" style="--bs-bg-opacity: .5;">
        <small class="text-muted">&nbsp;</small>
      </div>
    </div>

    <div class="col-sm-6 ">
      <div class="mb-1 p-1 bg-white">
        <h6 class="text-left">Chart</h6>
      </div>
      <div class="mychart border ">
      <canvas id="areaChart"></canvas>
    </div>
    </div>
    <div class="col-sm-2">
    <div class="mb-1 p-1 bg-white">
    <h6 class="text-center">Loan Summary</h6>
  </div>
    </div>
    <div class="col"></div>
  </div>
</div>
