<div class="container-sm" style="width:500px">
  <!--<img src="https://raw.githubusercontent.com/mnjrupp/angular-ivy-ylwyj7/master/src/assets/RateCalc.PNG" alt=" Amort Schedule">-->
  <h5 class="d-flex justify-content-left">Repricing Calculator</h5>
  <hr />
  <form [formGroup]="formCalc" action="">
    <div class="row g-1">
      <div class="col-3">
        <div class="mb-1 p-1 bg-light">
          <small class="text-muted">Loan balance:</small>
        </div>
      </div>
      <div class="col-3">
        <div
          class="mb-1 p-1 bg-secondary text-end"
          style="--bs-bg-opacity: .25;"
        >
          <small class="text-muted">&nbsp;{{ LoanBalance }}</small>
        </div>
      </div>
    </div>
    <div class="row g-1">
      <div class="col">
        <div class="mb-2 p-1 text-decoration-underline">
          <small class="text-muted">Pricing Elements</small>
        </div>
      </div>
      <div class="col">
        <div class="mb-1 p-1 text-decoration-underline">
          <small class="text-muted">Current</small>
        </div>
      </div>
      <div class="col">
        <div class="mb-1 p-1 text-decoration-underline">
          <small class="text-muted">Converted</small>
        </div>
      </div>
    </div>
    <div class="row g-1">
      <div class="col">
        <div class="m-1 p-1 bg-light" style="height:30px">
          <small class="text-muted">COF:</small>
        </div>
      </div>
      <div class="col">
        <div class="mb-1 p-1 bg-light" style="height:30px">
          <input
            type="text"
            class="form-control form-control-sm text-center"
            formControlName="CurrentCof"
            id="CurrentCof"
            placeholder=""
            (change)="updateCurrentCofCalc($event)"
          />
        </div>
      </div>
      <div class="col">
        <div class="m-1 p-1 bg-light text-center">
          <small class="text-muted">&nbsp;{{ COFConv }}</small>
        </div>
      </div>
    </div>
    <div class="row g-1">
      <div class="col">
        <div class="m-1 p-1 bg-light" style="height:30px">
          <small class="text-muted">Spread:</small>
        </div>
      </div>
      <div class="col">
        <div class="mb-1 p-1 bg-light text-center" style="height:30px">
          <input
            type="text"
            class="form-control form-control-sm text-center"
            formControlName="CurrentSpread"
            id="CurrentSpread"
            placeholder=""
            (change)="updateCurrentSpreadCalc($event)"
          />
        </div>
      </div>
      <div class="col">
        <div class="m-1 p-1 bg-light text-center">
          <small class="text-muted">&nbsp;{{ SpreadConv }}</small>
        </div>
      </div>
    </div>
    <div class="row g-1 mb-1">
    <div class="col">
      <div class="m-1 p-1 bg-light" style="height:30px">
        <small class="text-muted">Gross Rate:</small>
      </div>
    </div>
    <div class="col">
    <div class="m-1 p-1 bg-light text-center">
    <small class="text-muted">&nbsp;{{grossRateCurrent}}</small>
  </div>
    </div>
    <div class="col">
      <div class="m-1 p-1 bg-light text-center">
        <small class="text-muted">&nbsp;{{grossRateConverted}}</small>
      </div>
    </div>
  </div>
  <div class="row g-1 bg-secondary">
  <div class="col">
    <div class="m-1 p-1 bg-secondary" style="height:30px;width:220px">
      <small class="text-white">Rate of ACA Capital:</small>
    </div>
  </div>
  <div class="col">
  <div class="m-1 p-1">
  <small class="text-white">{{acaCapCurrent}}</small>
</div>
  </div>
  <div class="col">
    <div class="m-1 p-1 text-center">
      <small class="text-white">{{acaCapConv}}</small>
    </div>
  </div>
</div>
<br>
<div class="row g-1">
<div class="col">
  <div class="m-1 p-1 bg-light" style="height:30px;width:220px">
    <small class="text-muted text-overflow">Annual Earnings from Borrowings:</small>
  </div>
</div>
<div class="col">
<div class="m-1 p-1 bg-light text-center">
<small class="text-muted">&nbsp;{{annualEarnBorrowCur}}</small>
</div>
</div>
<div class="col">
  <div class="m-1 p-1 bg-light text-center">
    <small class="text-muted">&nbsp;{{annualEarnBorrowConv}}</small>
  </div>
</div>
</div>
<div class="row g-1 bg-secondary">
<div class="col">
  <div class="m-1 p-1 bg-secondary" style="height:30px;width:220px">
    <small class="text-white">Annual Earnings from Capital:</small>
  </div>
</div>
<div class="col">
<div class="m-1 p-1 bg-secondary text-center">
<small class="text-white">&nbsp;{{annualEarnCapitalCur}}</small>
</div>
</div>
<div class="col">
  <div class="m-1 p-1 bg-secondary text-center">
    <small class="text-white">&nbsp;{{annualEarnCapitalConv}}</small>
  </div>
</div>
</div>
<br>
<div class="row g-1">
<div class="col">
  <div class="m-1 p-1 " style="height:30px;width:220px">
    <small class="text-muted">Annual Interest earnings:</small>
  </div>
</div>
<div class="col">
<div class="m-1 p-1 text-center">
<small class="text-muted">&nbsp;{{annualIntEarnCur}}</small>
</div>
</div>
<div class="col">
  <div class="m-1 p-1 text-center">
    <small class="text-muted">&nbsp;{{annualIntEarnConv}}</small>
  </div>
</div>
</div>
<div class="row g-1">
<div class="col-6">
  <div class="m-1 p-1 " style="height:30px;width:220px">
    <small class="text-muted">Increase/Decrease in interest:</small>
  </div>
</div>
<div class="col-2"></div>
<div class="col-2">
  <div class="m-1 p-1">
    <small class="text-black">&nbsp;{{ interestChange}}</small>
  </div>
</div>
</div>
  </form>
</div>
