
<div class="container-fluid">
<h5 class="d-flex justify-content-center">Borrower Details</h5>
<hr>
<div class="row align-items-start">
  <div class="col">
  <div class="mb-1 p-1  border-bottom border-top  bg-light">
  <small class="text-muted">Rate Estimate For:</small>
</div>
<div class="mb-1 p-1  border-bottom border-top  bg-light">
  <small class="text-muted">Phone #:</small>
</div>
<div class="mb-1 p-1  border-bottom border-top  bg-light">
  <small class="text-muted">Customer Address:</small>
</div>
  </div>
  <div class="col">
  <div class="mb-1 p-1 border " style="height:35px">
  <small class="text-muted">{{pricing.applicationName}}</small>
</div>
<div class="mb-1 border" style="height:35px">
  <small class="text-muted">{{pricing.phoneNumber}}</small>
</div>
<div class="mb-1 border" style="height:35px">
<small class="text-muted">{{pricing.address}}</small>
</div>
  </div>
</div>
<h5 class="d-flex justify-content-center">Loan Officer Details</h5>
<hr>
<div class="row align-items-start">
  <div class="col">
    <div class="mb-1 p-1  border-bottom border-top  bg-light">
      <small class="text-muted">Loan/Credit Officer Name:</small>
    </div>
    <div class="mb-1 p-1  border-bottom border-top  bg-light">
      <small class="text-muted">Phone #:</small>
    </div>
    <div class="mb-1 p-1  border-bottom border-top  bg-light">
      <small class="text-muted">Credit Office Location:</small>
    </div>
    <div class="mb-1 p-1  border-bottom border-top  bg-light">
      <small class="text-muted">Date of Calculation:</small>
    </div>
    <div class="mb-1 p-1  border-bottom border-top  bg-light">
      <small class="text-muted">Office Address:</small>
    </div>
  </div>
  <div class="col">
    <div class="mb-1 p-1 border">
      <small class="text-muted">{{pricing.loanOfficer}}&nbsp; </small>
    </div>
    <div class="mb-1 p-1 border">
      <small class="text-muted">{{pricing.branchPhone}} &nbsp;</small>
    </div>
    <div class="mb-1 p-1 border">
      <small class="text-muted">{{pricing.branchOffice}} &nbsp;</small>
    </div>
    <div class="mb-1 p-1 border">
      <small class="text-muted">{{pricing.calcDate}} &nbsp;</small>
    </div>
    <div class="mb-1 p-1 border">
      <small class="text-muted">{{pricing.branchaddress}} &nbsp;</small>
    </div>
  </div>
</div>
<h5 class="d-flex justify-content-center">Loan Details</h5>
<hr>
<div class="row align-items-start">
  <div class="col">
    <div class="mb-1 p-1  border-bottom border-top  bg-light">
      <small class="text-muted">Size of Loan:</small>
    </div>
    <div class="mb-1 p-1  border-bottom border-top  bg-light">
      <small class="text-muted">Estimated Loan Fees:</small>
    </div>
    <div class="mb-1 p-1  border-bottom border-top  bg-light">
      <small class="text-muted">Required Stock:</small>
    </div>
    <div class="mb-1 p-1  border-bottom border-top  bg-light">
      <small class="text-muted">Timing of Payment:</small>
    </div>
  </div>
  <div class="col">
    <div class="mb-1 p-1 border">
      <small class="text-muted">{{pricing.loanAmnt}}</small>
    </div>
    <div class="mb-1 p-1 border">
      <small class="text-muted">{{pricing.feeAmnt}}</small>
    </div>
    <div class="mb-1 p-1 border">
      <small class="text-muted">{{pricing.stockAmnt}}</small>
    </div>
    <div class="mb-1 p-1 border">
      <small class="text-muted">{{pricing.paymentfreq}}</small>
    </div>
  </div>
</div>
<h5 class="d-flex justify-content-center">Rate & Spread Scenarios</h5>
<hr>
<div class="row align-items-start">
<div class="col" >
  <div class="mb-1 p-1  border-bottom border-top  bg-light" style="height:35px">
    <small class="text-muted">Amortization Type</small>
  </div>
  <div class="mb-1 p-1  border-bottom border-top  bg-light" style="height:35px">
  <small class="text-muted">Amortization Term</small>
</div>
  <div class="mb-1 p-1  border-bottom border-top  bg-light" style="height:35px">
    <small class="text-muted">Loan Product</small>
  </div>
  <div class="mb-1 p-1  border-bottom border-top  bg-light" style="height:35px">
    <small class="text-muted">Transfer Option</small>
  </div>
  <div class="mb-1 p-1  border-bottom border-top  bg-light" style="height:35px">
    <small class="text-muted">Estimated Interest Rate</small>
  </div>
  <div class="mb-1 p-1  border-bottom border-top  bg-light" style="height:35px">
  <small class="text-muted">Approximate Payment Amount</small>
</div>
</div>
<div class="col-3">
  <div class="mb-1 p-1 border" style="height:35px">
  <small class="text-muted">P&I</small>
  </div>

  <div class="mb-1 p-1 border" style="height:35px">
  <small class="text-muted">15YRS</small>
</div>
  <div class="mb-1 p-1 border" style="height:35px">
  <small class="text-muted">15 YR FIXED</small>
  </div>
  <div class="mb-1 p-1 border" style="height:35px">
  <small class="text-muted">Open Prepayment</small>
  </div>
  <div class="mb-1 p-1 border" style="height:35px">
  <small class="text-muted">0.00%</small>
</div>
<div class="col p-1 border" style="height:35px">
<small class="text-muted">$1,000.00</small>
  </div>
</div>
<div class="col-3">
  <div class="mb-1 p-1 border" style="height:35px">
    <small class="text-muted">P&I</small>
  </div>
  <div class="mb-1 p-1 border" style="height:35px">
    <small class="text-muted">25YRS</small>
  </div>
  <div class="mb-1 p-1 border" style="height:35px">
    <small class="text-muted">20 YR FIXED</small>
  </div>
  <div class="mb-1 p-1 border" style="height:35px">
    <small class="text-muted">Open Prepayment</small>
  </div>
  <div class="mb-1 p-1 border" style="height:35px">
  <small class="text-muted">0.00%</small>
</div>
<div class="mb-1 p-1 border" style="height:35px">
<small class="text-muted">$1,000.00</small>
</div>
</div>
<div class="col-3">
  <div class="mb-1 p-1 border" style="height:35px">
    <small class="text-muted">P+I</small>
  </div>
  <!--The Cof here-->
  <div class="mb-1 p-1 border" style="height:35px">
    <small class="text-muted">20YRS</small>
  </div>
  <div class="mb-1 p-1 border" style="height:35px">
    <small class="text-muted">20 YR FIXED</small>
  </div>
  <div class="mb-1 p-1 border" style="height:35px">
    <small class="text-muted">Open Prepayment</small>
  </div>
  <div class="mb-1 p-1 border" style="height:35px">
    <small class="text-muted">0.00%</small>
  </div>
  <div class="mb-1 p-1 border" style="height:35px">
  <small class="text-muted">$1,000.00</small>
</div>
</div>
<h5 class="d-flex justify-content-center">Impact of Patronage *</h5>
<hr>
<div class="row align-items-start">
  <div class="col" >
    <div class="mb-1 p-1  border-bottom border-top  bg-light" style="height:35px">
      <small class="text-muted">Post-Patronage Rate</small>
    </div>
  </div>
  <div class="col-3" >
  <div class="mb-1 p-1 border " style="height:35px">
    <small class="text-muted">Post-Patronage Rate 1</small>
  </div>
</div>
  <div class="col-3" >
    <div class="mb-1 p-1 border " style="height:35px">
      <small class="text-muted">Post-Patronage Rate 2</small>
    </div>
  </div>
  <div class="col-3" >
    <div class="mb-1 p-1 border " style="height:35px">
      <small class="text-muted" >Rate 3</small>
    </div>
  </div>
</div>
<div class="row align-items-start">
  <div class="col">
    <div class="mb-1 p-1  border-bottom border-top  bg-light" style="height:35px">
      <small class="text-muted">Patronage Savings</small>
    </div>
  </div>
  <div class="col-3">
  <div class="mb-1 p-1 border " style="height:35px">
    <small class="text-muted">Patronage Savings 1</small>
  </div>
</div>
  <div class="col-3">
    <div class="mb-1 p-1 border " style="height:35px">
      <small class="text-muted">Patronage Savings 2</small>
    </div>
  </div>
  <div class="col-3">
    <div class="mb-1 p-1 border " style="height:35px">
      <small class="text-muted">Patronage Savings 3</small>
    </div>
  </div>
</div>
</div>
<br><br>

